$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$text-logo: #000;
$primary-white-color: #ffffff;
$social-link-color: #afb1b8;
$secondary-background-color: rgba(47, 48, 58, 0.8);
$ghost-color: #2f303a;
$secondary-ghost: rgba(255, 255, 255, 0.6);
$backgraund-color: #f5f4fa;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-values: 250ms $timing-function;
