.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.customer-li {
  @media screen and(min-width:480px) and(max-width:767px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    width: calc((100% - 30px) / 3);
    margin-right: 0px;
  }
  @media screen and(min-width:1200px) {
    display: flex;
  }

  & .company:hover,
  & .company:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.customer-li:nth-child(2n) {
  @media screen and(min-width:480px) and(max-width:768px) {
    margin-right: 0px;
  }
}
.customer-li:nth-child(3n) {
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-right: 0px;
  }
}
.customer-li:nth-last-child(n + 3) {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.customer-li:nth-last-child(n + 4) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}
.company {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 210px;

  color: $social-link-color;
  border: 1px solid $social-link-color;
  border-radius: 4px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  @media screen and(min-width:768px) {
    width: 226px;
  }
  @media screen and(min-width:1200px) {
    width: 170px;
  }
}
